.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 12px;
  height: 100%;

  .body {

    .part {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      .main {
        font-size: 20px;
        font-weight: 600;
      }
      .ex {
        color: rgba(255, 255, 255, 0.70);
        font-weight: 600;
        font-size: 13px;
      }
    }
  }
  .img {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
    }
  }
}