* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
button, input {
    border: none;
    background-color: unset;
    font: inherit;
}

button {
    cursor: pointer;
    transition: all .2s ease;
    &:active {
        transform: scale(0.95);
    }
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--blue_2);
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.panel {
    border-radius: 8px;
    border: 1px solid var(--blue_5);
    width: 100%;
    background-color: #252548;
}

.panel.panel-with-padding {
    padding: 12px;
}

.scale-effect-on-click {
    transition: transform .1s ease;
    &:active {
        transform: scale(0.9);
    }
}

.custom-scroll {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 9px;
        background-color: #7D6AF0;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px; 
    }
}

.custom-scroll-horizontal {
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 9px;
        background-color: #7D6AF0;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px; 
    }

}

.def-id {
    color: var(--gray_1);
    font-size: 10px;
    line-height: 12px;
}