:root {
    --blue_1: #131334;
    --blue_2: #1E1E42;
    --blue_3: #252548;
    --blue_4: #3A3A5A;
    --blue_5: #454563;
    --blue_6: #3b3b5a;

    --violet_1: #6862ED;
    --violet_2: #7D6AF0;
    --violet_3: #403A7B;

    --gray_1: #9292a3;

    --green_1: #55DEA9;
    --green_2: #3CA974;
    --green_3: #135E39;

    --yellow_1: #FFCA41;
    --yellow_2: #F9A21F;

    --red_1: #EB5858;
    --red_2: #8C1515;
}

