.modal {
  .ant-modal-content {
    background-color: var(--blue_5);
    padding-left: 50px;
    padding-right: 50px;
    .ant-modal-close {
      color: #fff;
    }
    .ant-modal-body {

    }

    .ant-modal-footer {
      
    }
  }
}