.wrapper {
  background-color: var(--blue_4);
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 7px;
  // overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .2s ease;

  &:hover {
    border-color: var(--violet_2);
  }

  .part {
    display: flex;
    align-items: center;
    // overflow: hidden;
    
    .avatar {

    }

    .body {
      width: 100%;
      overflow: hidden;
      padding: 0 5px;

      .item.date {
        font-weight: 600;
        color: var(--violet_1);
      }

      .timer {
        font-weight: 600;
        color: var(--green_1);
      }
      .timer.warn {
        color: var(--red_1);
      }
    }
    
  }
  

  .part.last {
    justify-content: flex-end;
    .body {
      text-align: right;
    }
  }
  
}

.wrapper.disabled {
  opacity: .6;
  pointer-events: none;
  touch-action: none;
}