.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    background-color: var(--violet_1);
    color: #fff;
    border-radius: 8px;
    padding: 2px 8px;
    position: relative;
    // overflow: hidden;
    font-weight: 600;
    overflow: visible;

    .ind {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        top: -10px;
        right: -10px;
        background-color: var(--red_1);
    }

    .in {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:disabled {
        pointer-events: none;
        touch-action: none;
        opacity: .6;
        user-select: none;
    }

    
}
.wrapper.fill {
    width: 100%;
}

.wrapper.loading {
    pointer-events: none;
    touch-action: none;
    .in {
        opacity: 0;
    }
}


.wrapper.danger {
    background-color: var(--red_1);
    color: var(--red_2);
}

.wrapper.green {
    background-color: var(--green_1);
    color: var(--green_3);
}

.wrapper.dark {
    background-color: var(--blue_6);
    color: #fff;
    color: var(--violet_2);
}
