.wrapper {
  // height: 100px;
  background-color: var(--blue_4);
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 7px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .2s ease;

  &:hover {
    border-color: var(--violet_2);
  }

  .part {
    display: flex;
    align-items: center;
    overflow: hidden;
    

    .main {
      padding: 0 5px;
      overflow: hidden;
      
      .limits {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: var(--green_1);
      }

      .time {
        color: var(--yellow_1);
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

  // .timer {
  //   font-weight: 700;
  //   font-size: 18px;
  //   line-height: 18px;
  //   border-radius: 8px;
  //   background-color: var(--blue_5);
  //   display: flex;
  //   align-items: center;
  //   padding: 3px;
  // }

  .part.left {
    justify-content: flex-start;
  }
  .part.right {
    justify-content: flex-end;
    text-align: right;
  }
}

.wrapper.active {
  background-color: var(--violet_3);
}