.wrapper {
  height: 90px;
  background-color: var(--blue_1);

  .in {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .part {
      
    }
  }
}