.wrapper {
  position: relative;
  border-radius: 12px;
  height: 150px;
  border: 2px solid rgba(#7D6AF0, .5);
  background-color: var(--gray_1);
  cursor: pointer;
  transition: all .2s ease;
  overflow: hidden;
  user-select: none !important;

  &:hover {
    // border-color: var(--blue_3);
    border-color: var(--violet_1);
    border-width: 4px;
    // box-shadow: 0 0 10px 3px rgba(#7D6AF0, .3);

  }

  &:active {
    transform: scale(0.9);
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#7D6AF0, .4);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;

    .icon {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      font-size: 30px;
      line-height: 30px;
      background-color: var(--violet_1);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all .2s ease;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: flex;
    }
  }
}

.wrapper.active {
  .mask {
    opacity: 1;
    .icon {
      transform: scale(1);
    }
  }
}