.wrapper {

  .main {
    font-weight: 500;
    color: #fff;

    span {
      
    }
  }
  .location {
    // margin-top: 5px;
    color: var(--gray_1);
    position: relative;
    font-size: 12px;

    span {

    } 
  }
}