
.wrapper {
  position: relative;
  flex: 0 0 auto;

  &:after {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    content: '';
    transform: scale(0);
    transition: all .2s ease;
    background-color: var(--green_1);
    //border: 2px solid #fff;
  }

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--blue_4);
    flex: 0 0 auto;
    position: relative;
    // border: 2px solid transparent;
    transition: all .2s ease;

    img {
      width: 100%;
      height: 100%;
      display: flex;
      object-fit: cover;
    }

    .skeleton {
      // background-color: red;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--gray_1);
      

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: '';
        // background-color: #fff;
        // animation: sk-pr-loading 1s linear infinite;
        // opacity: .5;
      }

      @keyframes sk-pr-loading {
        0% {
            // transform: translateX(-100%);
            opacity: 0;
        }
        50% {
            // transform: translateX(0);
            opacity: 0.5;
        }
        100% {
            // transform: translateX(100%);
            opacity: 0;
        }
    }
    }
  }
}

.wrapper.round {
  .img {
    border-radius: 100%;
  }
}

.wrapper.online {
  &:after {
    transform: scale(1.5);
  }
}

.wrapper.round.online, .wrapper.round.error {
  &:after {
    bottom: 6%;
    right: 6%;
  }
}

.wrapper.error {
  .img {
    // border:2px solid var(--red_1);
  }
  &:after {
    background-color: red;
    transform: scale(1.5);
  }
}



.wrapper.active {
  .img {
    border:2px solid var(--violet_1);
    // border: 2px solid lime;
    box-shadow: 0 0 10px 4px rgba(#7D6AF0, .5);
  }
}