.wrapper {
  padding: 10px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  background-color: var(--blue_4);
  transition: all .3s ease;

  .main {
    .item {
      font-size: 13px;
      span {
        &:last-child {
          font-weight: 700;
        }
      }

      .date {
        color: var(--gray_1);
        font-weight: 400 !important;
        font-size: 12px;
        line-height: 12px;
      }

      .time {
        color: var(--green_1);
        font-weight: 600;
      }
    }
  }
  .action {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;

    .btn {
      margin: 0 4px;
    }
  }
}

.wrapper.loading {
  opacity: .7;
  filter: grayscale(1);
  pointer-events: none;
  touch-action: none;
}